/* Кнопка слева */
.go-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--primary-dark);
  color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.go-back-button:hover {
  /* background-color: #e6f7ff; */
  border-color: var(--accent-blue);
  color: var(--accent-blue);
  transform: translateY(-1px);
  box-shadow: 0 1px 4px var(--accent-blue);
}

.go-back-button:active {
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(24, 144, 255, 0.2);
}

.go-back-button:focus {
  outline: 2px solid #1890ff;
  outline-offset: 2px;
}
